@layer tailwind-base, antd;

@layer tailwind-base {
    @tailwind base;
}

@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.ant-modal,
.ant-modal-content {
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
}

.ant-modal-body {
    height: calc(100vh - 110px);
}
